# syncthing.localhost:80 {
#   reverse_proxy syncthing:8385
# }

# calibre.localhost:80 {
#   reverse_proxy calibre:8080
# }

# lib.localhost:80 {
#   reverse_proxy calibre-web:8083
# }

# files.localhost:80 {
#   reverse_proxy filebrowser:80
# }

# deluge.localhost:80 {
#   reverse_proxy deluge:8112
# }

:80 {
  route /syncthing* {
    uri strip_prefix /syncthing
    reverse_proxy syncthing:8385
  }
  route /calibre* {
    uri strip_prefix /calibre
    reverse_proxy calibre:8080
  }
  route /lib* {
    uri strip_prefix /lib
    reverse_proxy calibre-web:8083
  }
  route /files* {
    uri strip_prefix /files
    reverse_proxy filebrowser:80
  }
  route /deluge* {
    uri strip_prefix /deluge
    reverse_proxy deluge:8112
  }
}
