# :2016 {
#   reverse_proxy syncthing:8385
# }

sync.rmaki.tech {
  reverse_proxy syncthing:8385
}

lib.rmaki.tech {
  reverse_proxy calibre:8181
}

files.rmaki.tech {
  reverse_proxy filebrowser:80
}

torr.rmaki.tech {
  reverse_proxy deluge:8112
}
