---
services:
  syncthing:
    image: syncthing/syncthing
    container_name: syncthing
    hostname: my-syncthing
    ports:
      - 6464:8385
    environment:
      - PUID=1000
      - PGID=1000
      - STGUIADDRESS=0.0.0.0:8385
    volumes:
      - ./.st:/var/syncthing
    restart: unless-stopped

  calibre:
    image: lscr.io/linuxserver/calibre:latest
    container_name: calibre
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - PASSWORD=${C_PASS}
      - CUSTOM_USER=${C_USER}
    volumes:
      - ${C_DIR}:/config
    ports:
      - 6465:8080
      - 8181:8181
      - 8081:8081
    restart: unless-stopped

  filebrowser:
    container_name: filebrowser
    image: filebrowser/filebrowser
    volumes:
      - ./test_folder:/srv
      - ./.fb/filebrowser.db:/database/filebrowser.db
    ports:
      - 6466:80

  deluge:
    image: lscr.io/linuxserver/deluge:latest
    container_name: deluge
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - DELUGE_LOGLEVEL=error #optional
    volumes:
      - ./.deluge:/config
      - ${D_DIR}:/downloads
    ports:
      - 6467:8112
      - 6881:6881
      - 6881:6881/udp
      - 58846:58846 #optional
    restart: unless-stopped

  # caddy:
  #   image: caddy:2.8.4
  #   container_name: caddy
  #   restart: unless-stopped
  #   ports:
  #     - 2016:2016
  #     - "80:80"
  #     - "443:443"
  #     - "443:443/udp"
  #   volumes:
  #     - ./Caddyfile:/etc/caddy/Caddyfile
  #   network_mode: service:vpn
  #   depends_on:
  #     - vpn

  # vpn:
  #   image: ghcr.io/bubuntux/nordlynx
  #   container_name: vpn
  #   ports:
  #     - "80:80"
  #     - "443:443"
  #     - "443:443/udp"
  #   cap_add:
  #     - NET_ADMIN #required
  #   environment:
  #     - PRIVATE_KEY=${PK}
