services:
  syncthing:
    image: syncthing/syncthing
    container_name: syncthing
    hostname: syncthing
    ports:
      - 6464:8385
    environment:
      - PUID=1000
      - PGID=1000
      - STGUIADDRESS=0.0.0.0:8385
    volumes:
      - ./.st:/var/syncthing
    restart: unless-stopped


  calibre:
    image: lscr.io/linuxserver/calibre:latest
    container_name: calibre
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - PASSWORD=${C_PASS}
      - CUSTOM_USER=${C_USER}
    ports:
      - 6465:8080
      - 8181:8181
      - 8081:8081
    volumes:
      - ${C_DIR}:/config
      - ${C_DIR}/Calibre Library:/books
    restart: unless-stopped


  calibre-web:
    image: lscr.io/linuxserver/calibre-web:latest
    container_name: calibre-web
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - DOCKER_MODS=linuxserver/mods:universal-calibre #optional
      - OAUTHLIB_RELAX_TOKEN_SCOPE=1 #optional
    ports:
      - 6468:8083
    volumes:
      - ./.cw:/config
    restart: unless-stopped

  filebrowser:
    container_name: filebrowser
    image: filebrowser/filebrowser
    ports:
      - 6466:80
    volumes:
      - ./Files:/srv
      - ./.fb/filebrowser.db:/database/filebrowser.db


  deluge:
    image: lscr.io/linuxserver/deluge:latest
    container_name: deluge
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - DELUGE_LOGLEVEL=error #optional
    ports:
      - 6467:8112
      - 6881:6881
      - 6881:6881/udp
      - 58846:58846 #optional
    volumes:
      - ./.deluge:/config
      - ${D_DIR}:/downloads
    restart: unless-stopped

  cloudflared:
    image: cloudflare/cloudflared:latest
    command: tunnel run
    volumes:
      - ./tunnel.yml:/etc/cloudflared/config.yaml
      - /home/luke/.cloudflared/2da9e84b-d76b-4c39-ac8e-0f5fde6a21a8.json:/etc/cloudflared/cred.json
      - /home/luke/.cloudflared/cert.pem:/etc/cloudflared/cert.pem
    depends_on:
      - syncthing
      - calibre
      - calibre-web
      - filebrowser
      - deluge
    restart: unless-stopped



