services:
  syncthing:
    image: syncthing/syncthing
    container_name: syncthing
    hostname: syncthing
    ports:
      - 6464:8385
    environment:
      - PUID=1000
      - PGID=1000
      - STGUIADDRESS=0.0.0.0:8385
    volumes:
      - ./.st:/var/syncthing
    restart: unless-stopped

  filebrowser:
    container_name: filebrowser
    image: filebrowser/filebrowser
    ports:
      - 6466:80
    volumes:
      - ./Files:/srv
      - ./.fb/filebrowser.db:/database/filebrowser.db

  deluge:
    image: lscr.io/linuxserver/deluge:latest
    container_name: deluge
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - DELUGE_LOGLEVEL=error #optional
    ports:
      - 6467:8112
      - 6881:6881
      - 6881:6881/udp
      - 58846:58846 #optional
    volumes:
      - ./.deluge:/config
      - ${D_DIR}:/downloads
    restart: unless-stopped

  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:latest
    ports:
      - 13378:80
    volumes:
      - ./Audiobookshelf/audiobooks/:/audiobooks
      - ./Audiobookshelf/podcasts/:/podcasts
      - ./Audiobookshelf/config/:/config
      - ./Audiobookshelf/metadata/:/metadata
    environment:
      - TZ=Australia/Melbourne

  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    ports:
      - 8096:8096/tcp
      - 7359:7359/udp
    volumes:
      - ./jellyfin/config/:/config
      - ./jellyfin/cache/:/cache
      - type: bind
        source: ./jellyfin/media/
        target: /media
      - type: bind
        source: ./jellyfin/media2/
        target: /media2
        read_only: true
    restart: "unless-stopped"
    # Optional - alternative address used for autodiscovery
    # environment:
    #   - JELLYFIN_PublishedServerUrl=http://example.com
    # Optional - may be necessary for docker healthcheck to pass if running in host network mode
    extra_hosts:
      - "host.docker.internal:host-gateway"

  freshrss:
    image: freshrss/freshrss:edge
    container_name: freshrss
    restart: unless-stopped
    logging:
      options:
        max-size: 10m
    volumes:
      # Recommended volume for FreshRSS persistent data such as configuration and SQLite databases
      - data:/var/www/FreshRSS/data
      # Optional volume for storing third-party extensions
      - extensions:/var/www/FreshRSS/extensions
    ports:
      # If you want to open a port 8080 on the local machine:
      - "8080:80"
    environment:
      TZ: Australia/Melbourne
      # Cron job to refresh feeds at specified minutes
      CRON_MIN: "2,32"
    # Optional healthcheck
    healthcheck:
      test: ["CMD", "cli/health.php"]
      timeout: 10s
      start_period: 60s
      start_interval: 11s
      interval: 75s
      retries: 3

volumes:
  data:
  extensions:
